.login-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.card-login-container {
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--background-1);
}
